body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #FFF;
  width: 800px;
  margin: 0 auto;
  padding: 5px;
  height: 90vh;
  overflow: auto;
}

.container {
  flex: 0 0 22%;
  width: calc(25% - 11px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  color: #212121;
  margin: 10px 0.5%;
  padding: 20px 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 250px;
}

.title {
  font-size: 20px;
  color: #333;
}

.subtitle {
  font-size: 12px;
  color: #666;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-title-container, .price-icons-container {
  display: inline-block;
  vertical-align: middle;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.percentage {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.icon-up, .icon-down {
  display: inline;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  vertical-align: middle;
}

.extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

.extra-info p {
  margin: 2px 0;
  font-weight: normal;
}

.settings-container {
  margin-top: 30px;
}

.settings-container label {
  text-transform: capitalize;
  display: block;
  margin-bottom: 8px;
}

.settings-container h1 {
  font-size: 16px;
  margin-bottom: 16px;
}

input[type="number"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

input[type="number"]::placeholder {
  opacity: 0.7;
  font-style: italic;
}

input[type="number"]:focus {
  border: 2px solid #4CAF50;
  outline: none;
}

button[type="button"] {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px auto 0 auto;
  display: block;
}

button[type="button"]:hover {
  background-color: #367c2b;
}

@media (max-width: 600px) {
  .container {
    flex-basis: 100%;
  }

  .title, .percentage, .price {
    font-size: 18px;
  }

  .extra-info p {
    font-size: 12px;
  }
}
